<ion-content [fullscreen]="true">
  <div class="sesion-contend">
    <ion-header>
      <ion-toolbar>
        <ion-title>Codigo QR</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/main"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  
    <div class="box">
      <ion-icon style="font-size: 250px;" name="qr-code-outline"></ion-icon>
    </div>  
    <div>
      <ion-button (click)="scan()" expand="full"  class="scan-button">Escanear</ion-button>
    </div>
  

</ion-content>
