<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/escanear"></ion-back-button>
    </ion-buttons>
    <ion-title>QR RegristApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="icon-qr-response">
    <ion-icon name="time-outline"></ion-icon>
  </div>

<div class="info-qr-response">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="texto-card-tittle-qr-response">¡ Has Registrado Tu Asistencia Con Exito !</ion-card-title>
      <ion-card-subtitle class="texto-card-qr-response">QR RegristApp</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text class="data">Benjamin Errazuriz</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Horario</ion-label>
      <ion-text class="data">Desde 08:30 Hasta 10:50</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Sala</ion-label>
      <ion-text class="data">Laboratorio L2</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-text class="data">Analista Programador</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-text class="data">Duoc San Joaquin </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Profesor</ion-label>
      <ion-text class="data">Guillermo Villacura </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Asignatura</ion-label>
      <ion-text class="data">Desarrollo Mobile PGY4121-002D</ion-text>
    </ion-item>
  </ion-card>
</div>





</ion-content>
