.info-qr-response{
font-size: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.icon-qr-response{
    font-size: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.texto-card-qr-response{
    text-align: center;
    margin-bottom: 10px;
}

.texto-card-tittle-qr-response{
    text-align: center;
}