<ion-content>
  <div class="sesion-contend">
    <ion-header>
      <ion-toolbar>
        <ion-title>Iniciar Sesión</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="icon-login-page">
    <ion-icon name="people-outline"></ion-icon>
  </div>

  <div class="datosLogin">
    <ion-card>
      <ion-item>
        <ion-input label="Email" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contraseña" [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
    </ion-card>
  </div>

  <div>
    <ion-button class="buttonLogin" (click)="login()" expand="full" color="light">Iniciar Sesión</ion-button>
  </div>

  <p class="ion-text-center">¿Olvidaste tu contraseña? <ion-button (click)="recuperar()">Recuperar</ion-button></p>
</ion-content>

