<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="close()" style="font-size: 25px;" slot="end" name="close-outline"></ion-icon>
    <ion-title>resulQr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <h3>Asignatura: "ENG4567"</h3>
    <h3>Docente: "Carlos Fernández"</h3>
    <h3>Fecha: "24-09-2023"</h3>
    <h3>Hora: "10:45"</h3>
    <h3>Leccion: "Inglés Avanzado"</h3>
    <h3>Sala: "Aula 205"</h3>
    <h3>Seccion: "002D"</h3>       
  </ion-card>
</ion-content>
