.divEspacio{
    padding-top: 20px;
    padding-bottom: px;
    
}
.editButton{
    width: full ;
    height: 60px;
}

.tittle-main-user{
    flex: content;
    justify-content: center;
    text-align: center;
}

.button-setting-login{
    font-size: 25px;
    margin-right: 10px;
    
}


.footer-main-page{
    flex: content;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.text-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-main-page{
    font-size: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



  
  