<ion-content>

  <div class="tittle-main-user">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>Principal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="perfil()">
            <ion-icon name="settings-outline" class="button-setting-login"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

<div class="image-main-page">
  <ion-icon name="person-circle-outline"></ion-icon>
</div>

<div class="text-main-page">
  <h1>Bienvenido Nuevamente</h1>
  <h2>¿Que deseas hacer el dia de hoy?</h2>
</div>

<div class="divEspacio">
  <ion-card>
    <ion-button (click)="escanear()" class="editButton" expand="full">Escanear Código</ion-button>
    <ion-button (click)="asistencia()"  class="editButton" expand="full">Ver Asistencia</ion-button>
    
  </ion-card>
 </div>



 <div class="footer-main-page">
  <ion-toolbar>
    <ion-button (click)="logOut()" color="danger" expand="round">
      <ion-icon name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</div>
  


</ion-content>

