
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        RegistrApp
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  <div class="icon-login">
    <ion-icon name="people-outline"></ion-icon>
  </div>

  <div class="card-container">
    <ion-card>
      <ion-button class="editButton" expand="full" (click)="login()">Iniciar Sesión</ion-button>
      <ion-button class="editButton" expand="full" (click)="registro()">Registrarse</ion-button>
    </ion-card>
  </div>
    
  </ion-content>
